{
  "singleQuote": true,
  "importOrder": [
    "^./RouteFactory$",
    "<THIRD_PARTY_MODULES>",
    "^@fayona/(.*)$",
    "^[./]"
  ],
  "print-width": 120,
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "importOrderParserPlugins": ["typescript", "decorators-legacy"]
}
